@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.1452 0.0082 325.9918);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.1452 0.0082 325.9918);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.1452 0.0082 325.9918);
  --primary: oklch(0.5254 0.2107 18.9441);
  --primary-foreground: oklch(0.9694 0.0152 12.4219);
  --secondary: oklch(0.9674 0.0013 286.3752);
  --secondary-foreground: oklch(0.2103 0.0059 285.8852);
  --muted: oklch(0.9602 0.0034 325.6033);
  --muted-foreground: oklch(0.5421 0.0337 322.5035);
  --accent: oklch(0.9602 0.0034 325.6033);
  --accent-foreground: oklch(0.2123 0.0188 322.1157);
  --destructive: oklch(0.5830 0.2387 28.4765);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9221 0.0051 325.6184);
  --input: oklch(0.9221 0.0051 325.6184);
  --ring: oklch(0.7112 0.0194 323.0221);
  --chart-1: oklch(0.8441 0.1425 165.2301);
  --chart-2: oklch(0.7019 0.1577 160.4375);
  --chart-3: oklch(0.6031 0.1344 160.9226);
  --chart-4: oklch(0.5128 0.1100 163.5649);
  --chart-5: oklch(0.4336 0.0901 165.8660);
  --sidebar: oklch(0.9851 0 0);
  --sidebar-foreground: oklch(0.1452 0.0082 325.9918);
  --sidebar-primary: oklch(0.5968 0.2396 19.6949);
  --sidebar-primary-foreground: oklch(0.9694 0.0152 12.4219);
  --sidebar-accent: oklch(0.9602 0.0034 325.6033);
  --sidebar-accent-foreground: oklch(0.2123 0.0188 322.1157);
  --sidebar-border: oklch(0.9221 0.0051 325.6184);
  --sidebar-ring: oklch(0.7112 0.0194 323.0221);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.625rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0px 1px 0px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 1px 0px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 1px 0px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0px 1px 0px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 1px 0px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 1px 0px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 1px 0px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 1px 0px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1452 0.0082 325.9918);
  --foreground: oklch(0.9851 0 0);
  --card: oklch(0.2123 0.0188 322.1157);
  --card-foreground: oklch(0.9851 0 0);
  --popover: oklch(0.2123 0.0188 322.1157);
  --popover-foreground: oklch(0.9851 0 0);
  --primary: oklch(0.4591 0.1835 14.5586);
  --primary-foreground: oklch(0.9694 0.0152 12.4219);
  --secondary: oklch(0.2739 0.0055 286.0326);
  --secondary-foreground: oklch(0.9851 0 0);
  --muted: oklch(0.2629 0.0239 320.1221);
  --muted-foreground: oklch(0.7112 0.0194 323.0221);
  --accent: oklch(0.2629 0.0239 320.1221);
  --accent-foreground: oklch(0.9851 0 0);
  --destructive: oklch(0.7022 0.1892 22.2279);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(1.0000 0 0);
  --input: oklch(1.0000 0 0);
  --ring: oklch(0.5421 0.0337 322.5035);
  --chart-1: oklch(0.8441 0.1425 165.2301);
  --chart-2: oklch(0.7019 0.1577 160.4375);
  --chart-3: oklch(0.6031 0.1344 160.9226);
  --chart-4: oklch(0.5128 0.1100 163.5649);
  --chart-5: oklch(0.4336 0.0901 165.8660);
  --sidebar: oklch(0.2103 0.0059 285.8852);
  --sidebar-foreground: oklch(0.9851 0 0);
  --sidebar-primary: oklch(0.6435 0.2452 16.5010);
  --sidebar-primary-foreground: oklch(0.9694 0.0152 12.4219);
  --sidebar-accent: oklch(0.2629 0.0239 320.1221);
  --sidebar-accent-foreground: oklch(0.9851 0 0);
  --sidebar-border: oklch(1.0000 0 0);
  --sidebar-ring: oklch(0.5421 0.0337 322.5035);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.625rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0px 1px 0px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 1px 0px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 1px 0px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0px 1px 0px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 1px 0px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 1px 0px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 1px 0px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 1px 0px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}